.env
.venv
.idea
sqlalchemy_refactor_plan.md
dataset
__pycache__
forex_news_bot.db
app_ptb.py
catboost_info
mlruns
mlflow.db
economic_news.db
try_twelve_data_copy.ipynb
try_twelve_data.ipynb
notebooks/*
models/*
.aider*
*.csv
/trash/
